<%- if @task.errors.empty? %>
$("#myModal").modal("hide");
$('<%= escape_javascript(render('task', task: @task)) %>').appendTo(".table")
<%- else %>
$("#error_explanation").html("<% @task.errors.full_messages.each do |msg| %> <li><%= msg %></li><%- end %>");
<%- end %>
